@font-face {
    font-family: 'Josefin Sans';
    src: url(../fonts/JosefinSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Aleo';
    src: url(../fonts/Aleo-Regular.ttf);
    font-weight: 400;
}